.txt_small{
    font-family: var(--font_noto_sans);
    font-size: var(--txt_small);
    font-weight: 24px;
}

.main_title{
    font-family: var(--font_noto_sans);
    font-size: var(--txt_large);
    font-weight: 36px;
}

.txt_medium{
    font-family: var(--font_noto_sans);
    font-size: var(--txt_medium);
    font-weight: 700;
    color: #5d2d16;
}

.txt_small_price{
    font-family: var(--font_noto_sans);
    font-size: var(--txt_small);
    font-weight: 30px;
    margin-top: 12px;
    color: #5d2d16;
}