@media only screen and (max-width: 600px) {
    .about_title{
        text-align: center;
        margin-top: 30px;
        margin-left: 8px;
        margin-bottom: 12px;
        font-size: var(--txt_large);
        font-family: var(--font_Preahvihear);
    }
    
    .about_subtitle{
        text-align: center;
        margin-bottom: 13px;
    }
    
    .about_text{
        text-align: center;
        margin: auto;
        width: 400px;
        font-size: var(--txt_small);
        font-family: var(--font_kanit);
        text-align: justify;
    }
    
    .photo_about{
        display: flex;
        justify-content: center;
    }

    .about_image{
        width: 400px;
        height: 450px;
        margin-top: 56px;
    }
}

@media only screen and (min-width: 600px) {
    .about_title{
        text-align: center;
        margin-top: 30px;
        margin-left: 8px;
        margin-bottom: 12px;
        font-size: var(--txt_large);
        font-family: var(--font_Preahvihear);
    }
    
    .about_subtitle{
        text-align: center;
        margin-bottom: 13px;
    }
    
    .about_text{
        text-align: center;
        margin: auto;
        width: 500px;
        font-size: var(--txt_small);
        font-family: var(--font_kanit);
        text-align: justify;
    }
    
    .photo_about{
        display: flex;
        justify-content: center;
    }

    .about_image{
        width: 400px;
        height: 450px;
        margin-top: 56px;
    }
}


@media only screen and (min-width: 1100px) {
    .about_title{
        margin-left: 8px;
        margin-bottom: 12px;
        font-size: var(--txt_large);
        font-family: var(--font_Preahvihear);
    }
    
    .about_subtitle{
        margin-bottom: 7px;
    }
    
    .about_text{
        width: 500px;
        font-size: var(--txt_small);
        font-family: var(--font_kanit);
        text-align: justify;
    }
    
    .about_image{
        width: 500px;
        height: 600px;
    }
}