.card_minty_green{
    background-color: #e0fcc2;
}

.card_pink_pastel{
    background-color: #fce1ee;
}

.card_peach{
    background-color: #fce5cd;
}

.card_blue{
    background-color: #d4e3c8;
}

.card_red{
    background-color: #e3c8c8;
}

@media only screen and (max-width: 1100px){
    .txt_medium{
        text-align: center;
        font-size: 12pt;
    }    
    .txt_small_price{
        text-align: center;
        padding-bottom: 30px;
        font-size: 12pt;
    }
}

@media only screen and (max-width: 850px){
    .txt_medium{
        text-align: center;
        font-size: 30pt;
    }    
    .txt_small_price{
        text-align: center;
        padding-bottom: 30px;
        font-size: 20pt;
    }
}

@media only screen and (max-width: 850px){
    .txt_medium{
        text-align: center;
        font-size: 30pt;
    }    
    .txt_small_price{
        text-align: center;
        padding-bottom: 30px;
        font-size: 20pt;
    }
}

@media only screen and (max-width: 850px){
    .txt_medium{
        text-align: center;
        font-size: 30pt;
    }    
    .txt_small_price{
        text-align: center;
        padding-bottom: 30px;
        font-size: 20pt;
    }
}

@media only screen and (max-width: 850px){
    .txt_medium{
        text-align: center;
        font-size: 30pt;
    }    
    .txt_small_price{
        text-align: center;
        padding-bottom: 30px;
        font-size: 20pt;
    }
}

@media only screen and (max-width: 600px){
    .txt_medium{
        text-align: center;
        font-size: 17pt;
    }    
    .txt_small_price{
        text-align: center;
        padding-bottom: 30px;
        font-size: 14pt;
    }
}